/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas', monospace; 
    scroll-behavior: smooth;
} 
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Consolas', monospace;
}


/*Typography*/
h1,
h2,
h3 {
    line-height: 1;
    margin:0;
}
 
/* -------------------Full body html -----------------------*/
body, html{
    height: 100%;
    background: #000000; 
    margin: 0;
    line-height: 1.6;
}

/* --------------------Header------------------------------- */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    font-size: 1.2em;
}

header .logo {
    transform: translate(20px, 20px);
    filter: invert(1);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 72px;
    margin-top: 12px;
}

header ul li a {
    text-decoration: none;
    padding: 8px 16px;
    color: #ED3D14;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active  {
    background: #ED3D14;
    color: #000000;
}



@media only screen and (max-width: 1030px) {
    header ul{
        display: none; 
        width: 50%
    }
}


/* -------------Header section (robot animation)-------------- */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    position: absolute;
    padding: 1em;
    pointer-events: none;  
}


section img#platform{
    mix-blend-mode: screen;
    filter: invert(1); 
}

section  img#robot{
    z-index: 11;
    animation: float 6s ease-out infinite;
    filter: invert(1); 

}

@keyframes float {
    50%{
        transform: translateY(-60px);
    }
}


#btn {
    text-decoration: none;
    position: relative; 
    left: -128px;

    padding: 16px 30px;
    border-radius: 80px;
    background: #ED3D14;
    color: #000000;
    font-size: 1.6em;
    z-index: 11;

    transform: scale(0.7);
    transition: 0.5s;
    display: flex;

    top: 0.5px;
}

#btn:hover {
    transform: scale(1) translateY(-20px);
}

 


@media only screen and (max-width: 860px) {

    #btn{
        display: none;
        top: 0.5px; 
        transform: scale(1);  
    }

      

    

}

/* ---------Paralax effect (many in html document) ---------------*/

.parallax {
    /* The image used */
    background-image: url('img/forrestBACK.jpg');
    /* Full height */
    height: 100%;
    /* Invert image color  filter: invert(1); */
     


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 860px) {
    .parallax{
        background-attachment: scroll;
        display: none;
    }
 
}

 

/* ------------------------- Intro --------------------------------*/
.intro video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8; 
  filter: invert(.1);
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  background: rgba( 0, 0, 0, 0.5);
}

.text
{
  position: relative;
  z-index: 10;
  top: -100px;
}

.text h2
{
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1.5em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}

@media only screen and (max-width: 800px) {

    .text h2{
        font-size: 2em;
    }

    .text h3{
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1500px) {

    .text{ 
        transform: scale(0.7);
        top: 10px;
    }

 
}

/*-----------------About the Author----------------------------------*/
#about{
    padding: 80px;
    color: #fff;
    height: 100%;
    background-color: #000000;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img{
    border-radius: 15px;
    width: 80%;
}

.about-col-2 {
    flex-basis: 65%;
} 

.sub-title{
    font-size: 2em;
    padding: 5px;
    color: #FD3617;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.tab-titles{
    display: flex;
    margin: 50px 0px 50px 0px;
}


.tab-titles a:hover{
    letter-spacing: 2px;
}

.tab-links{
    margin-right: 100px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative; 
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FD3617;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0px;
}

.tab-contents ul li span{
    color: #FD3617;
    font-size: 17px;
    font-weight: 700;
}

.tab-contents{
    display: none;
    margin:0px auto;
}



.tab-contents.active-tab{
    display: block;
}


@media only screen and (max-width: 1030px){
    #about{
        height: 100%; 
        display: none;
    }

    .sub-title{
        font-size: 1.5em;  
        line-height: 1em; 
    }

    .about-col-2 p{
        font-size: 15px;
        height: auto; 
        width: auto; 
        max-width: 800px; 
        font-size: 1em;
        line-height: 1.5em;
    }
 
    .tab-titles{
        display: flex; ;
        margin: 70px 0px 50px 0px; 
    }
}

/*--------------Interests/Services -------------------------*/
#services{
    height: 100%;
    padding:  30px;
    background: rgb(0, 0, 0);
    color: aliceblue; 
    padding-bottom: 120px;
}

.sub-title2{
    font-size: 2em;
    padding: 50px 0 50px 50px;
    color: #fdfafa;
    line-height: 1em;
    text-transform: uppercase;
}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.services-list div {
    background: #323a3d;
    color:#323a3d;
    padding: 30px ;
    font-size: 12px;
    font-weight: 300;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #000000;
    color:rgb(255, 255, 255);
    transform: translateY(-20px);
}

 
.text2 a{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FD3617;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;  
    
}

.text2 a:hover{
  background: #FD3617;
}

@media only screen and (max-width: 860px){

    .sub-title2{
        text-align: center;
        font-size: 2.5em;
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .text2 a{
        margin-left: 40px;
        margin-bottom: 20px; 
    } 

}

@media only screen and (max-height: 600px){
    .text2 a{
        margin-left: 44px;
        margin-bottom: 20px; 
    } 
}

/* ------------------Personal portfolio projects -----------------------*/
#portfolio{
    padding: 50px 0;
    margin-left: 100px;
    margin-right: 100px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px; 
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block; 
    transition: transform 0.5s;
}

.work:hover img{
    transform: scale(1.2);
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.7), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.layer p{
    color: white;
}

.layer a{
    margin-top: 20px;
    color: #FD3617;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FD3617;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover{
    background: #FD3617;
}

@media only screen and (max-width: 800px){

    #portfolio{
        margin: 0px 0px 0 20px; 
    }

    .work{
        margin-left: -20px;
        transform: scale(0.9);
    }
 
}
/* -------------------------Footer: Socials -----------------------------------*/
.footer {
    position: absolute;
    z-index: 11;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer li {
    list-style: none;
}

.footer li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(1);
    transition: 0.5s;
}

.footer li a:hover {
  transform: scale(1) translateY(-20px);
}